<div class="track">
    <h3>Title: <a href="/tracks/<%= @track.id %>"><%= @track.title %></a></h3>
    <p> Artist Name: <%= @track.artist_name %></p>
    <p> Posted By: <a href="/tracks?user_id=<%= @track.user.id %>"><%= @track.user.username %></a></p>
    <p> Posted at: <%= @track.created_at.strftime("%m/%d/%Y") %></p>
    <% if @track.url.length != 0 %>
      <a href="<%= @track.url %>"><strong>Take me to the snazzy track!</strong></a>
    <% end %>
    <p> Number of Upvotes: <%= @track.num_votes %></p> 

    <form action="/review" method="POST">
      <div class="form-group" style="max-width:20%;">
        <div class="col-lg">
          <input type="text" name="content" class="form-control" placeholder="Your Review">
        </div>
    Rating   :
      <select class="form-control" name="rating" style="max-width:47%;">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
          <input type="hidden" name="track_id" value="<%= @track.id %>">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-music"></span>        Leave Review!</button>
        </div>
      </div>
    </form>
    <% @track.reviews.each do |review| %>
  <div class="review">
    <p>Review: <%= review.content %></p>
    <p> Rating: <%= review.rating %></p>
    <% if review.user.tracks.empty? %>
      <p> Posted By: <%= review.user.username %></p>
    <% else %>
      <p> Posted By: <a href="/tracks?user_id=<%= review.user.id %>"><%= review.user.username %></a></p>
    <% end %> 
  <% end %>
  </div>
